* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8rem;
    min-width: 250px;
}

/* GENERAL / MULTIPURPOSE */
.section {
    padding: 34px 0;
}


.center {
    text-align: center;
}

.nav-button {
    border-radius: 10px;
    border-style: solid;
    background-color: #00000000;
    border-color: white;
    color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 10px 0;
}

.dropdown-menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

.dropdown-menu a:hover {
    background-color: rgba(255, 255, 255, 0.281);
}

.dropdown-content {
    display: none;
    background-color: rgb(47, 47, 47);
    position: absolute;
    right: 20px;
    min-width: 100px;
    box-shadow: 2px 2px 5px black;
}

.logo {
    color: white;
    font-size: 1.4em;
    font-weight: bolder;
    margin-right: auto;
    text-decoration: none;
    font-style: italic;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3em;
    position: sticky;
    top: 0;
    padding: 0 20px;

}

.nav-list {
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    gap: 5px;
    list-style-type: none;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

.nav-list a:hover {
    background-color: rgba(255, 255, 255, 0.281);
}

.contact-list {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 80vw;
    list-style-type: none;
    padding: 0;
}

.contact-list a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}

.footer {
    color: white;
}

.footer img {
    width: 32px;
    height: 32px;
    padding: 2px;
    background-color: white;
    border-radius: 8px;
}

.footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    list-style-type: none;
    padding: 0; 
}

.nav-bar, 
.footer {
    width: 100%;
    background-color: rgb(47, 47, 47);
}


div.skills {

}

div.skills ul {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    list-style-type: none;
    padding: 0;
}

.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin: 34px 0;
}

/* Project */
.sample-project {
    display: block;
    text-align: center;
}

.sample-project img {
    width: 100px;
}

.sample-project strong {
    display: block;
    font-weight: bolder;
    font-size: 1.1rem;
}

hr {
    border-width: 3px;
    border-style: none;
    border-top-style: dotted;
    color: #00000077;
    margin-inline: 0;
    margin-block: 0;
    width: 80%;
    background: linear-gradient(to right, #911a80, #d42b45);
    background-clip: text;
    color: transparent;
    display: inline-block;

}

.separator {
    width: 80%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, 
    rgba(163, 163, 163, 0),
     rgb(117, 117, 117) ,
    rgb(117, 117, 117),
     rgba(163, 163, 163, 0)
     );
}

/* Media Queries */

@media (650px >= width) {
    .nav-list {
        display: none;
    }
}


@media (width >= 650px) {
    .nav-button {
        display: none;
    }
}
