* {
    box-sizing: border-box;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
}

.logo {
    width: 250px;
    background-color: black;
    color: white;
    margin: auto;
}

.container {
    width: 100vw;
    text-align: center;
}

.nav-bar-section {
    display: flex;
    margin-bottom: auto;
}

.nav-list {
    margin: auto;
}

.nav-list ul {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    list-style-type: none;
    padding: 0;
}

.nav-list a {
    color: black;
    text-decoration: none;
}

.footer {
    margin-top: auto;
}

.nav-bar-section, 
.footer-section {
    height: 50px;
    width: 100vw;
    text-align: center;
    background-color: blue;
}

.landing-section {
    background-color: dodgerblue;
    margin: auto;
}

.about-me-section {
    background-color: pink;
    padding: 16px;
    margin: auto;
}

.projects-section {
    background-color: cornflowerblue;
    margin: auto;
}

.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 34px;
}

.contact-section {
    background-color: darkcyan;
    margin: auto;
}

.sample-project {
    display: block;
    text-align: center;
}

.sample-project img {
    width: 100px;
}

.sample-project strong {
    display: block;
    font-weight: bolder;
    font-size: 1.1rem;
}