* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    scroll-behavior: smooth;
    min-width: 500px;
    min-height: 500px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(142, 142, 142);
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: black;
    padding: 14px;
    position: relative;
    top: 0;
}

/* Nav Menu */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: right;
}

nav li a {
    display: block;
    padding: 1.5rem;
}

nav ul li:last-child {
    margin-bottom: 0;
}

nav a:link, nav a:visited {
    color: white;
    text-decoration: none;
}


/* Navigation Button (Hamburger Menu for Smaller Screens) */
.dropdown #nav-button {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0);
    color: white;
    cursor: pointer;
    justify-self: right;
    padding: 6px;
}

.dropdown #nav-button:hover, .dropdown #nav-button:focus {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8%;
}

.dropdown #nav-button:not(hover),
.dropdown #nav-button:not(focus) {
    color: white;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
}

#DropdownItems.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 14px;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#DropdownItems.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#DropdownItems.dropdown-content.show {
    display: block;
}

#DropdownItems.dropdown-content a:hover {
    background-color: rgb(220, 220, 220);
}

/* Section */

section {
    margin: 1rem 0;
}

#Biography {
    display: flex;
    width: 100%;
    gap: 1rem;
}



/* Footer */
footer {
    background-color: #333;
    color: rgb(235, 235, 235);
    padding: 2rem 0;
    flex-shrink: 0;
    margin-top: auto;
}

/* --- Media Queries --- */

/* Responsive Nav */
@media (max-width: 768px) {
    nav ul {
        display: none;
        }

    header {
        position: sticky;
    }

    .dropdown #nav-button {
        display: block;
        }
    }

    hr {
        margin: 3rem 0;
    }

/* --- Other Custom Classes --- */
.main-content {
    margin: auto 1rem;
    padding: 1.5rem 8rem;
    background-color: white;
    min-height: 100vh;
}

.heading {
    font-family: "Century Gothic", Arial, Tahoma, Helvetica, sans-serif;
    color: #333;
    margin: 0.8rem 0;
}

.project-heading {
    font-family: "Century Gothic", Arial, Tahoma, Helvetica, sans-serif;
    color: #333;
    font-size: 1.3rem;
    margin: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin: auto;
}

.project-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 0 0 30%;
    padding: 4px;
    overflow-wrap: break-word;
    border-radius: 8px;
    box-shadow: 5px 5px 5px #00000033;
}

.project-container a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
    height: 100%;
}

.project-title {
    font-size: 1.5rem;
}

.project-img {
    aspect-ratio: 16 / 9;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 1;
    border-radius: 4px 4px 0 0;

}

.project-desc {
    flex-shrink: 0;
    margin: 4px 0;
}

.content {
    background-color: rgb(185, 156, 213);
    width: 100%;
    height: 100%;
    padding: 0.8rem;
}

.left {
    text-align: left;
    justify-self: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
    justify-self: right;
}